<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <!-- Font Awesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="https://pa200xliska1.blob.core.windows.net/hw2/css/site.css?sp=r&st=2024-06-10T10:40:13Z&se=2024-07-01T18:40:13Z&spr=https&sv=2022-11-02&sr=b&sig=bQg3frwUkhMsjoA8Ha2ogBOFK48Dxbo%2BLoOU3aau4pE%3D">
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>
<body>
    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header" style="background: white;">
                <h3 style="color: black;">Clean-Project</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/Home"><i class="fas fa-chart-bar"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="/Product"><i class="fas fa-box"></i> Products</a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Page Content  -->
    <div id="content">
        <div class="menu-header">
            <button type="button" id="sidebarCollapse" class="btn menu-btn">
                <img src="https://pa200xliska1.blob.core.windows.net/hw2/images/nav.png?sp=r&st=2024-06-10T10:37:02Z&se=2024-07-01T18:37:02Z&spr=https&sv=2022-11-02&sr=b&sig=bhR6bXS22FITlnB%2Bgb8W3lcxzVleBB1jYT0C65mI3j0%3D" alt="Menu">
            </button>
           @* <span class="menu-text">Page Title</span>*@
            <div class="container" style="padding-top:2%">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://pa200xliska1.blob.core.windows.net/hw2/js/site.js?sp=r&st=2024-06-10T10:37:31Z&se=2024-07-01T18:37:31Z&spr=https&sv=2022-11-02&sr=b&sig=8WppoJCRrwI153r8THid5K3yHpTzUVIMPtPDrA8mE%2BY%3D"></script>

    @RenderSection("Scripts", false)
</body>
</html>
